/* line 2, hangman-game.scss */
:host /deep/ section {
  margin: 12px 12px;
}
/* line 6, hangman-game.scss */
:host /deep/ h4 {
  margin-left: 10px;
}
/* line 10, hangman-game.scss */
:host /deep/ #gallowGameStart {
  width: 150px;
  min-width: 150px;
}
/* line 16, hangman-game.scss */
:host /deep/ #startGameBtn {
  width: 150px;
}
/* line 20, hangman-game.scss */
:host /deep/ hangman-gallow, :host /deep/ #startGameBtn {
  vertical-align: middle;
}
/* line 24, hangman-game.scss */
:host /deep/ hangman-gallow {
  width: 150px;
}
/* line 28, hangman-game.scss */
:host /deep/ .keypad {
  width: 480px;
  max-width: 480px;
  margin: 25px 0;
}
@media (max-width: 520px) {
  /* line 35, hangman-game.scss */
  :host /deep/ .keypad {
    width: 300px;
    max-width: 300px;
  }
}
/* line 41, hangman-game.scss */
:host /deep/ #trialsAvail {
  margin: 10px 0;
}
