:host /deep/{
  section {
    margin: 12px 12px;
  }

  h4 {
    margin-left: 10px;
  }

  #gallowGameStart {
    width: 150px;
    min-width: 150px;
  }


  #startGameBtn {
    width: 150px;
  }

  hangman-gallow, #startGameBtn {
    vertical-align: middle;
  }

  hangman-gallow {
    width: 150px;
  }

  .keypad {
    width: 480px;
    max-width: 480px;
    margin: 25px 0;
  }

  @media (max-width: 520px) {
    .keypad {
      width: 300px;
      max-width: 300px;
    }
  }

  #trialsAvail {
    margin: 10px 0;
  }

}
