/* line 2, hangman-game.scss */
:host /deep/ section {
  margin: 12px 12px;
}
/* line 6, hangman-game.scss */
:host /deep/ h4 {
  margin-left: 10px;
}
/* line 10, hangman-game.scss */
:host /deep/ hangman-gallow {
  width: 150px;
}
/* line 14, hangman-game.scss */
:host /deep/ letter-keyboard {
  width: 350px;
  height: auto;
}
