@import "color";
body /deep/ {
  .ft-10 {
    font-size: 10px;
  }
  .ft-30 {
    font-size: 30px;
  }

  .ft-bold {
    font-weight: bold;
  }

  .ft-white {
    color: $colorWhite;
  }

  .ft-orange {
    color: $colorOrange;
  }

  .ft-grey {
    color: $colorGrey;
  }

  .ft-green {
    color: #8CCC8A;
  }

  .ft-upper {
    text-transform: uppercase;
  }

  .ft-space-4 {
    letter-spacing: 4px;
  }
}
