@import "color";
body /deep/ {
  .ft-24 {
    font-size: 24px;
  }

  .ft-upper {
    text-transform: uppercase;
  }

  .ft-space-4 {
    letter-spacing: 4px;
  }

  .ft-blue {
    color: blue;
  }
}
