/* line 5, color.scss */
.bg-grey {
  background-color: #111;
}

/* line 3, font.scss */
body /deep/ .ft-24 {
  font-size: 24px;
}
/* line 7, font.scss */
body /deep/ .ft-upper {
  text-transform: uppercase;
}
/* line 11, font.scss */
body /deep/ .ft-space-4 {
  letter-spacing: 4px;
}
/* line 15, font.scss */
body /deep/ .ft-blue {
  color: blue;
}
